<%= render :partial => 'form' %>

<%= link_to "RECIPES", recipes_path, :remote => true %>
<br />

<h4>
  <% @userRecipes.each do |recipe| %>
    <% if recipe.frozen? %>
          next
    <% end %>
    <%= link_to recipe.title, recipe_path( id: recipe.id ), :remote => true %><br />
  <% end %>
</h4>


